.button {
 background: #dc3545 !important;
 border-color: #dc3545 !important;
}
.h1 {
 color: #dc3545;
 font-weight: 700;
 font-size: 3.5rem !important
}
.flash {
 font-size: 1.5rem !important;
 color: #A3A3A3;
}